<h1><%= @course.name %></h1>
<div class="header_course">
  <div class="action_button">
    <%= button_to t("courses.start"), start_course_path(@course), method: :post, class: "btn btn-warning float-right" if @course.ready? %>
    <%= button_to t("courses.assign_trainee"), assign_trainee_course_path(@course), method: :get, class: "btn btn-success float-right", remote: true %>
    <%= button_to t("courses.finish"), finish_course_path(@course), class: "float-right btn btn-info", data:{confirm: t("confirm")}, method: :patch if @course.active? %>
  </div>
  <div class="course_meta">
    <span class="time_course">
      <span class="date_course"><i class="fa fa-clock-o"></i><%= t("courses.start_at") %><%= l @course.date_start, format: :default %>
      </span>
      <span class="date_course"><i class="fa fa-clock-o"></i><%= t("courses.end_at") %><%= l @course.date_end, format: :default %>
      </span>
    </span>
  </div>
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><%= t("courses.content") %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-trainee-tab" data-toggle="pill" href="#pills-trainee" role="tab" aria-controls="pills-trainee" aria-selected="false"> <%= t("courses.trainees") %>
      <span class="badge badge-success" id="sum_trainees">
        <%= @course.trainees.size %>
      </span>
    </a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="description_course">
      <p><%= markdown @course.description %></p>
    </div>
    <% if @course_subjects.any? %>
      <%= render @course_subjects %>
      <%= will_paginate @course_subjects %>
    <% else %>
      <div class="alert alert-danger"><%= t ("subjects.no_subject") %></div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-trainee" role="tabpanel" aria-labelledby="pills-trainee-tab">
      <ul class="list-group list-group-flush">
       <% if @trainees.any? %>
         <%= render partial: "shared/trainee", collection: @course.trainees, as: :trainee %>
         <%= will_paginate @trainees %>
       <% else %>
         <div class="alert alert-danger" id="no_trainees"><%= t("courses.no_trainee") %>
         </div>
       <% end %>
      </ul>
    </div>
</div>
<div class="modal fade" id="modal-trainee">
