<div class="panel panel-default">
  <ul class="list-group">
    <li class="list-group-item <%= status_course_subject_item course_subject %>">
      <div class="row">
        <div class="col-md-9">
          <h2 class="title_subject"><%= link_to course_subject.subject.name, trainee_course_subject_path(course_subject) %></h2>
          <small><%= course_subject.subject.description %></small>
        </div>
        <div class="col-md-3">
          <i class="fa fa-chevron-down pull-right toggle_subject" data-toggle="subject-<%= course_subject.subject.id %>"></i>
          <span class="sum_task">
            <span class="badge badge-secondary"><%= course_subject.subject.tasks.size %></span><%= t "subjects.tasks" %>
            <span class="badge badge-danger"><%= course_subject.subject.time_day %></span><%= t "subjects.time_day" %>
            <span class="<%= course_subject_status_badge course_subject %>"><%= course_subject.status %></span>
          </span>
        </div>
      </div>
      <div id="subject-<%= course_subject.subject.id %>">
        <div class="container">
          <% if course_subject.subject.tasks.any? %>
            <div class="fluid-row">
              <div class="tasks_mess"><%= t "subjects.list_tasks" %></div>
              <div class="col">
                <ul class="list_tasks">
                  <%= render partial: "shared/task", collection: course_subject.subject.tasks, as: :task %>
                </ul>
              </div>
            </div>
          <% else %>
            <div class="alert alert-warning"><%= t "subjects.task.no_tasks" %></div>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>
