<footer class="footer">
  <small>
    <%= t ".f_by" %> <%= link_to t(".author"), t(".url_author") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".title_about"), about_path %></li>
      <li><%= link_to t(".title_contact"), contact_path %></li>
      <li><%= link_to t(".title_contact"), help_path %></li>
    </ul>
  </nav>
</footer>
